## Uploading the client file and model

### Client file analysis

In [2]:
import pandas as pd
df=pd.read_csv('client_input.csv')
df.head()

   ROLL NO      STUDENT NAME  CAT 1  CAT 2  CAT 3
0        1         ABINESH.G     55     60     64
1        2   ARUNPRASHANTH.E     85     70     75
2        3           ASWIN.I     60     58     72
3        4   BHARANIDHARAN.R     59     60     65
4        5  BHUVANESHWARAN.R     85     77     91

In [5]:
x = df.drop(columns=['ROLL NO','STUDENT NAME'])

In [6]:
x.head()

   CAT 1  CAT 2  CAT 3
0     55     60     64
1     85     70     75
2     60     58     72
3     59     60     65
4     85     77     91

### Activate the ML model

In [3]:
#we have to
import pickle
with open('mark_pred_model','rb') as f:
  reg=pickle.load(f)

### Predict the data

In [4]:
reg.predict([[70,70,68]])

/Users/sachinsabariram/Documents/miniforge3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([65.80683224])

In [7]:
pred =reg.predict(x)

In [8]:
df['Semester_pred']=pred
df.head()

   ROLL NO      STUDENT NAME  CAT 1  CAT 2  CAT 3  Semester_pred
0        1         ABINESH.G     55     60     64      58.299827
1        2   ARUNPRASHANTH.E     85     70     75      74.067014
2        3           ASWIN.I     60     58     72      65.024574
3        4   BHARANIDHARAN.R     59     60     65      59.848998
4        5  BHUVANESHWARAN.R     85     77     91      87.188802

In [9]:
df.to_csv('clientoutput.csv',index=False)