## Importing modules

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Importing data and preprocessing

In [2]:
df = pd.read_csv('mark.csv')
df.head()

   ROLL NO      STUDENT NAME  CAT 1  CAT 2  CAT 3  SEMESTER
0        1         ABINESH.G     60     52     54        65
1        2   ARUNPRASHANTH.E     90     82     90        91
2        3           ASWIN.I     56     54     76        73
3        4   BHARANIDHARAN.R     54     52     72        70
4        5  BHUVANESHWARAN.R     90     76     89        92

In [3]:
df.shape

(60, 6)

In [4]:
df.isnull().sum()

ROLL NO         0
STUDENT NAME    0
CAT 1           0
CAT 2           0
CAT 3           0
SEMESTER        0
dtype: int64

In [5]:
df.drop(columns = 'STUDENT NAME',axis=1,inplace=True)

In [6]:
df.head()

   ROLL NO  CAT 1  CAT 2  CAT 3  SEMESTER
0        1     60     52     54        65
1        2     90     82     90        91
2        3     56     54     76        73
3        4     54     52     72        70
4        5     90     76     89        92

In [7]:
df.dtypes

ROLL NO     int64
CAT 1       int64
CAT 2       int64
CAT 3       int64
SEMESTER    int64
dtype: object

In [8]:
df.corr()['SEMESTER']

ROLL NO    -0.242719
CAT 1       0.696742
CAT 2       0.558194
CAT 3       0.833802
SEMESTER    1.000000
Name: SEMESTER, dtype: float64

In [9]:
df.drop(columns = 'ROLL NO',axis=1,inplace=True)

In [10]:
x= df.iloc[:,:-1]
y= df.iloc[:,-1]

In [11]:
x.head()

   CAT 1  CAT 2  CAT 3
0     60     52     54
1     90     82     90
2     56     54     76
3     54     52     72
4     90     76     89

In [12]:
y.head()

0    65
1    91
2    73
3    70
4    92
Name: SEMESTER, dtype: int64

### Data splitting

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20)

In [14]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(48, 3)
(48,)
(12, 3)
(12,)

### Importing models

In [15]:
from sklearn.linear_model import LinearRegression

### Model fitting

In [16]:
def apply_model(model,x_train,y_train,x_test,y_test):
    model.fit(x_train,y_train)
    y_pred = model.predict(x_test)
    print("Predictions:\n",y_pred)
    print("\nTraining score:",model.score(x_train,y_train))
    print("\nTesting score:",model.score(x_test,y_test))

In [17]:
m1 = LinearRegression()

In [18]:
apply_model(m1,x_train,y_train,x_test,y_test)

Predictions:
 [84.16649057 31.89960235 34.68056405 52.55795602 75.6363333  30.39142428
 66.05322429 50.54551636 29.69115198 70.92035332 91.09000793 47.4998611 ]

Training score: 0.7260078770023437

Testing score: 0.7311325939733805

### Exporting model

In [19]:
import pickle

In [21]:
with open('mark_pred_model','wb') as f:
    pickle.dump(m1,f)